.sidePanel {
  display: flex;
  flex-direction: column;
  flex: none;
  position: relative;
}

.sidePanel--flexible {
  flex: 0 0 auto;
}

.sidePanel--raised {
  z-index: $layout-z-index-side-panel;
}

.sidePanel--fixed {
  bottom: 0;
  position: absolute;
  top: 0;

  &.sidePanel--left {
    left: 0;
  }

  &.sidePanel--right {
    right: 0;
  }
}
