@import './mixins/addRaised.css';

.card {
  border-radius: $border-radius-medium;
  display: flex;
  flex-direction: column;
  float: none;
  overflow: hidden;
  position: relative;

  &.card--hoverable {
    &:hover,
    .is-hovered {
      border-color: var(--card-hovered-border-color);
    }
  }

  &.card--bordered {
    border: 1px solid var(--card-border-color);
  }

  @mixin themed .card {
    --card-hovered-border-color: $theme-primary-palette-quieter-color;
    --card-border-color: $theme-primary-palette-border-color;
  }

  &.card--transparent {
    background-color: transparent;
  }
}

.card--squared {
  border-radius: 0;
}

.card--raised-10 {
  @mixin addRaisedAndHoverable 10, 20;
}

.card--raised-20 {
  @mixin addRaisedAndHoverable 20, 30;
}

.card--raised-30 {
  @mixin addRaisedAndHoverable 30, 40;
}

.card--raised-40 {
  @mixin addRaisedAndHoverable 40, 20;
}

.card--raised-100 {
  @mixin addRaised 100, 0;
}

.card--magnify {
  transform: scale(1);
  transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);

  &:hover,
  &.is-hovered {
    transform: scale(1.02);
  }
}

.card--full {
  height: 100%;
  width: 100%;
}
