.cardEdge {
  display: flex;
  flex: none;
  flex-direction: row;
  font-size: $font-size-xs;
}

.cardEdge--justifyEnd {
  justify-content: flex-end;
}

.cardEdge--justifyStart {
  justify-content: flex-start;
}

.cardEdge--justifyCentered {
  justify-content: center;
}

.cardEdge--justifySpread {
  justify-content: space-between;
}
