# dependencies
node_modules/

# production
/lib
/build

# rollup
.rollup.cache
component-info.json
.size-snapshot.json

# privacy
.env
.npmrc
.npm

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tsconfig.tsbuildinfo
build-storybook.log

# development
.DS_Store
.vscode
coverage/
.jest-test-results.json
