@import '../../../styles/common/mixins/addScrollbar.css';

ol.unlist,
ul.unlist {
  @mixin unlist;

  &.unlist--inline {
    > * {
      display: inline-block;
    }
  }
}

.list {
  @mixin unlist;
}

.listItem {
  cursor: pointer;
  display: block;

  .list--inline & {
    display: inline-block;
  }
}

.list,
.listItem {
  &.is-inactive {
    pointer-events: none;
  }
}

/**
 * 1. Don't raise the divided and unboxed list items
 *    on hover or focus.
 */
.list--bordered,
.list--shadowed {
  --list-item-focused-z-index: 2; /* [1] */
  --list-item-hovered-z-index: 2; /* [1] */
}

.list--divided,
.list--bordered,
.list--shadowed,
.list--unboxed {
  &:focus-within,
  &.is-focused {
    outline: none;

    &.is-accessible:not(.list--hideFocusOutline) {
      outline: 1px solid var(--list-focused-border-color);
    }
  }

  .listItem {
    background-color: var(--list-item-background-color);
    color: var(--list-item-text-color);
    font-size: $font-size-medium;
    position: relative;
    text-align: left;

    &:not(.listItem--flush) {
      padding: 8px 16px;
    }

    &.listItem--transparent {
      background-color: transparent;
    }

    &.is-highlighted {
      @mixin prepareShade;
      @mixin makeShade var(--list-item-selected-background-color);
      color: var(--list-item-selected-background-color);
    }

    &.is-selected {
      background-color: var(--list-item-selected-background-color);
      color: var(--list-item-selected-text-color);
      z-index: 1;
    }

    &:active,
    &.is-active {
      background-color: var(--list-item-selected-background-color);
      color: var(--list-item-selected-text-color);
      z-index: 1;
    }

    &:disabled,
    &.is-disabled {
      pointer-events: none;

      .listItem__content {
        opacity: $opacity-disabled;
      }
    }

    &:hover,
    &.is-hovered {
      &:not(:active):not(.is-selected) {
        color: var(--list-item-focused-text-color);
        z-index: var(--list-item-focused-z-index, 0);
      }
    }

    &:focus {
      outline: none;
    }
  }

  /**
   * 1. Purposefully exclude :focus here because the browser
   *    focus is no longer relevant in accessible mode.
   */
  &.is-accessible:focus-within,
  &.is-accessible {
    .listItem {
      &.is-focused /* [1] */ {
        &:not(:active):not(.is-selected) {
          color: var(--list-item-focused-text-color);
          z-index: var(--list-item-focused-z-index, 0);
        }
      }
    }
  }
}

.list--xsmall {
  .listItem {
    font-size: $font-size-small;

    &:not(.listItem--flush) {
      padding: 4px 12px;
    }
  }
}

.list--small {
  .listItem {
    font-size: $font-size-medium;

    &:not(.listItem--flush) {
      padding: 4px 16px;
    }
  }
}

.list--medium {
  .listItem {
    font-size: $font-size-medium;

    &:not(.listItem--flush) {
      padding: 8px 16px;
    }
  }
}

.list--large {
  .listItem {
    font-size: $font-size-large;

    &:not(.listItem--flush) {
      padding: 8px 16px;
    }
  }
}

.list--xlarge {
  .listItem {
    font-size: $font-size-xlarge;

    &:not(.listItem--flush) {
      padding: 8px 16px;
    }
  }
}

.list--divided {
  &.list--inline {
    .listItem {
      border-left: 1px solid var(--list-item-border-color);
      border-right: 1px solid var(--list-item-border-color);

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }

      &:not(:first-child) {
        border-left: none;
      }
    }
  }

  &:not(.list--inline) {
    .listItem {
      border-top: 1px solid var(--list-item-border-color);
      border-bottom: 1px solid var(--list-item-border-color);

      &:first-child {
        border-top: none;
      }

      &:last-child {
        border-bottom: none;
      }

      &:not(:first-child) {
        border-top: none;
      }
    }
  }
}

/**
 * It's preferable to use a shadowed list but if the list's
 * container has the overflow cut off then the outline will
 * be hidden so borders are necessary.
 *
 * 1. Move each child up to overlap the border of its
 *    previous sibling. Don't remove the border because
 *    it will break the border highlighting.
 */
.list--bordered {
  .listItem {
    border: 1px solid var(--list-item-border-color);

    &.is-selected {
      border-color: var(--list-item-focused-border-color);
    }

    &:active {
      border-color: var(--list-item-focused-border-color);
    }
  }

  &:not(.is-accessible) {
    .listItem {
      &:hover,
      &.is-hovered {
        &:not(:active):not(.is-selected) {
          border-color: var(--list-item-focused-border-color);
        }
      }
    }
  }

  /**
   * 1. Purposefully exclude :focus here because the browser
   *    focus is no longer relevant in accessible mode.
   */
  &.is-accessible:focus-within,
  &.is-accessible.is-focused {
    .listItem {
      &.is-focused /* [1] */ {
        &:not(:active):not(.is-selected) {
          border-color: var(--list-item-focused-border-color);
        }
      }
    }
  }

  &.list--inline {
    .listItem {
      &:not(:first-child) {
        margin-left: -1px; /* [1] */
      }
    }

    &.list--open {
      .listItem {
        border-top: 0;
        border-bottom: 0;
      }
    }
  }

  &:not(.list--inline) {
    .listItem {
      &:not(:first-child) {
        margin-top: -1px; /* [1] */
      }
    }

    &.list--open {
      .listItem {
        border-left: 0;
        border-right: 0;
      }
    }
  }
}

.list--shadowed {
  .listItem {
    @mixin shadowBorder var(--list-item-border-color);

    &.is-selected {
      @mixin shadowBorder var(--list-item-focused-border-color);
    }

    &:active {
      @mixin shadowBorder var(--list-item-focused-border-color);
    }
  }

  &:not(.is-accessible) {
    .listItem {
      &:hover,
      &.is-hovered {
        &:not(:active):not(.is-selected) {
          @mixin shadowBorder var(--list-item-focused-border-color);
        }
      }
    }
  }

  /**
   * 1. Purposefully exclude :focus here because the browser
   *    focus is no longer relevant in accessible mode.
   */
  &.is-accessible:focus-within,
  &.is-accessible.is-focused {
    .listItem {
      &.is-focused {
        /* [1] */
        &:not(:active):not(.is-selected) {
          @mixin shadowBorder var(--list-item-focused-border-color);
        }
      }
    }
  }
}

.list--unboxed.list--rounded {
  .listItem {
    border-radius: $border-radius-medium;
  }
}

.list--scrollable {
  @mixin addSmallScrollbar var(--list-scrollbar-thumb-color);

  overflow: auto;
}

.list--primary {
  @mixin themed .list {
    --list-focused-border-color: var(--phork-accent-color, $theme-color-accent);
    --list-item-selected-background-color: var(--phork-accent-color, $theme-color-accent);
    --list-item-selected-text-color: var(--phork-accent-color-contrast, $theme-color-accent-contrast);
    --list-item-background-color: $theme-primary-palette-background-color;
    --list-item-border-color: $theme-primary-palette-border-color;
    --list-item-focused-border-color: var(--phork-accent-color, $theme-color-accent);
    --list-item-focused-text-color: var(--phork-accent-color, $theme-color-accent);
    --list-item-text-color: $theme-primary-palette-quiet-color;
    --list-scrollbar-thumb-color: $theme-primary-scrollbar-thumb-color;
  }
}

.list--neutral {
  @mixin themed .list {
    --list-focused-border-color: $theme-primary-palette-border-color;
    --list-item-selected-background-color: $theme-color-neutral;
    --list-item-selected-text-color: $theme-color-neutral-contrast;
    --list-item-background-color: $theme-color-BG0;
    --list-item-border-color: $theme-primary-palette-border-color;
    --list-item-focused-border-color: $theme-color-neutral;
    --list-item-focused-text-color: $theme-primary-palette-text-color;
    --list-item-text-color: $theme-primary-palette-quiet-color;
    --list-scrollbar-thumb-color: $theme-primary-scrollbar-thumb-color;
  }
}

.list--contrast {
  @mixin themed .list {
    --list-focused-border-color: $theme-contrast-palette-text-color;
    --list-item-selected-background-color: $theme-contrast-palette-text-color;
    --list-item-selected-text-color: var(--phork-contrast-color, $theme-contrast-palette-background-color);
    --list-item-background-color: var(--phork-contrast-color, $theme-contrast-palette-background-color);
    --list-item-border-color: $theme-contrast-palette-border-color;
    --list-item-focused-border-color: $theme-contrast-palette-text-color;
    --list-item-focused-text-color: $theme-contrast-palette-quiet-color;
    --list-item-text-color: $theme-contrast-palette-text-color;
    --list-scrollbar-thumb-color: $theme-contrast-scrollbar-thumb-color;
  }
}
