.checkbox {
  display: inline-flex;
  flex-direction: row;
  position: relative;

  &:focus {
    outline: none;
  }
}

.checkbox--disabled {
  opacity: .6;
  pointer-events: none;
}

.checkbox--reverse {
  flex-direction: row-reverse;
}

input.checkboxInput {
  @mixin visuallyHidden;
}

.checkboxLabel {
  line-height: 1.5;
  min-height: 1.4em;
  position: relative;
}

/**
 * 1. The font size determines the size of the checkbox.
 */
.checkboxInputContainer {
  border-radius: 0.2em;
  flex: none;
  font-size: 13px; /* [1] */
  height: 1.4em; /* [1] */
  position: relative;
  width: 1.4em; /* [1] */

  .checkbox--reverse & {
    margin-left: 12px;
  }

  :not(.checkbox--reverse) & {
    margin-right: 12px;
  }

  .checkbox--checked &,
  .checkbox--indeterminate & {
    &:before {
      background-color: var(--checkbox-checked-background-color);
      border-radius: inherit;
      content: '';
      height: 100%;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .checkbox--unchecked & {
    &:before {
      border-radius: inherit;
      border: 1px solid var(--checkbox-unchecked-border-color);
      bottom: 0;
      content: '';
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &:after {
    border: solid transparent;
    border-color: var(--checkbox-checked-icon-color);
    border-width: 0 0.18em 0.18em 0;
    content: '';
    height: 1em;
    left: 0.47em;
    margin-top: 0.1em;
    position: absolute;
    top: 0;
    transform: rotate(45deg) scale(0);
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    width: 0.5em;
  }
}

.checkboxInputContainerFocusRing {
  border-radius: inherit;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.checkbox--checked {
  .checkboxInputContainer {
    &:after {
      transform: rotate(45deg) scale(0.8);
    }
  }
}

.checkbox--focused.is-accessible {
  .checkboxInputContainerFocusRing {
    &:after {
      border-radius: 0.25em;
      bottom: -2px;
      box-shadow: var(--checkbox-unchecked-focused-box-shadow);
      content: '';
      left: -2px;
      position: absolute;
      right: -2px;
      top: -2px;
    }
  }

  &.checkbox--checked,
  &.checkbox--indeterminate {
    .checkboxInputContainerFocusRing {
      &:after {
        box-shadow: var(--checkbox-checked-focused-box-shadow);
      }
    }
  }
}

.checkbox:hover {
  .checkboxInputContainerFocusRing {
    &:before {
      border-radius: inherit;
      bottom: 0;
      box-shadow: var(--checkbox-unchecked-hover-box-shadow);
      content: '';
      left: 0;
      opacity: 0.2;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &.checkbox--checked,
  &.checkbox--indeterminate {
    .checkboxInputContainerFocusRing {
      &:before {
        box-shadow: var(--checkbox-checked-hover-box-shadow);
      }
    }
  }
}

.checkbox--indeterminate {
  .checkboxInputContainer {
    &:before {
      background-color: var(--checkbox-checked-background-color);
    }

    &:after {
      background-color: var(--checkbox-checked-icon-color);
      border: none;
      height: 0.11em;
      left: 0.42em;
      top: 0.57em;
      transform: none;
      width: 0.6em;
    }
  }
}

/**
 * 1. This should be the inverse of the margin
 *    applied to .checkboxGroup--inline
 */
.checkbox--grouped--inline {
  margin: 4px 12px; /* [1] */
}

/**
 * 1. This should be the inverse of the margin
 *    applied to .checkboxGroup--stacked
 */
.checkbox--grouped--stacked {
  margin: 4px 0; /* [1] */
}

.checkbox--primary {
  @mixin themed .checkbox {
    --checkbox-checked-background-color: $theme-color-accent-primary;
    --checkbox-checked-hover-box-shadow: 0 0 0 4px $theme-color-accent-primary;
    --checkbox-checked-focused-box-shadow: 0 0 0 1px $theme-color-accent-primary;
    --checkbox-checked-icon-color: $theme-color-accent-primary-contrast;
    --checkbox-unchecked-border-color: $theme-primary-palette-quietest-color;
    --checkbox-unchecked-hover-box-shadow: 0 0 0 4px $theme-color-FG0-O40;
    --checkbox-unchecked-focused-box-shadow: 0 0 0 1px $theme-color-FG0-O40;
    --checkbox-focused-box-shadow: 0 0 0 1px $theme-color-accent-primary;
  }
}

.checkbox--contrast {
  @mixin themed .checkbox {
    --checkbox-checked-background-color: $theme-contrast-palette-accent-color;
    --checkbox-checked-hover-box-shadow: 0 0 0 4px $theme-contrast-palette-accent-color;
    --checkbox-checked-focused-box-shadow: 0 0 0 1px $theme-contrast-palette-accent-color;
    --checkbox-checked-icon-color: var(--contrast-color, $theme-contrast-palette-background-color);
    --checkbox-unchecked-border-color: $theme-contrast-palette-quieter-color;
    --checkbox-unchecked-hover-box-shadow: 0 0 0 4px $theme-contrast-palette-quietest-color;
    --checkbox-unchecked-focused-box-shadow: 0 0 0 1px $theme-contrast-palette-quietest-color;
    --checkbox-focused-box-shadow: 0 0 0 1px $theme-contrast-palette-accent-color;
  }
}

.checkbox.is-danger {
  @mixin themed .checkbox {
    --checkbox-checked-background-color: $theme-color-danger;
    --checkbox-checked-hover-box-shadow: 0 0 0 4px $theme-color-danger;
    --checkbox-checked-focused-box-shadow: 0 0 0 1px $theme-color-danger;
    --checkbox-checked-icon-color: $theme-color-danger-contrast;
    --checkbox-unchecked-border-color: $theme-color-danger;
    --checkbox-unchecked-hover-box-shadow: 0 0 0 4px $theme-color-FG0-O40;
    --checkbox-unchecked-focused-box-shadow: 0 0 0 1px $theme-color-FG0-O40;
    --checkbox-focused-box-shadow: 0 0 0 1px $theme-color-danger-D10;
  }
}
