.checkbox--medium {
  --checkbox-input-font-size: $font-size-medium;
  --checkbox-label-font-size: $font-size-small;
}

.checkbox,
.checkbox--large {
  --checkbox-input-font-size: $font-size-large;
  --checkbox-label-font-size: $font-size-medium;
}

.checkbox--xlarge {
  --checkbox-input-font-size: $font-size-xlarge;
  --checkbox-label-font-size: $font-size-large;
}

.checkbox--2xlarge {
  --checkbox-input-font-size: $font-size-2xlarge;
  --checkbox-label-font-size: $font-size-xlarge;
}

.checkbox--3xlarge {
  --checkbox-input-font-size: $font-size-3xlarge;
  --checkbox-label-font-size: $font-size-2xlarge;
}

.checkbox--4xlarge {
  --checkbox-input-font-size: $font-size-4xlarge;
  --checkbox-label-font-size: $font-size-3xlarge;
}

.checkbox--5xlarge {
  --checkbox-input-font-size: $font-size-5xlarge;
  --checkbox-label-font-size: $font-size-4xlarge;
}

.checkbox--6xlarge {
  --checkbox-input-font-size: $font-size-6xlarge;
  --checkbox-label-font-size: $font-size-5xlarge;
}

.checkbox--7xlarge {
  --checkbox-input-font-size: $font-size-7xlarge;
  --checkbox-label-font-size: $font-size-6xlarge;
}

.checkbox--8xlarge {
  --checkbox-input-font-size: $font-size-8xlarge;
  --checkbox-label-font-size: $font-size-7xlarge;
}
