.checkbox {
  display: inline-flex;
  flex-direction: row;
  position: relative;

  &:focus {
    outline: none;
  }

  &.is-disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

.checkbox--full {
  justify-content: space-between;
  width: 100%;
}

.checkbox--reverse {
  flex-direction: row-reverse;
}

input.checkboxInput {
  @mixin visuallyHidden;
}

.checkboxLabel {
  font-size: var(--checkbox-label-font-size, $font-size-medium);
  line-height: 1.5;
  margin-left: 12px;
  margin-top: 1px;
  min-height: 1.4em;
  position: relative;

  .checkbox--reverse & {
    margin-left: 0;
    margin-right: 12px;
  }
}

/**
 * 1. The font size determines the size of the checkbox.
 */
.checkboxInputContainer {
  border-radius: 0.2em;
  flex: none;
  font-size: var(--checkbox-input-font-size, $font-size-large); /* [1] */
  height: 1.4em; /* [1] */
  position: relative;
  width: 1.4em; /* [1] */

  &:after {
    border: solid transparent;
    border-color: var(--checkbox-checked-icon-color);
    border-width: 0 0.18em 0.18em 0;
    content: '';
    height: 1em;
    left: 0.47em;
    margin-top: 0.1em;
    position: absolute;
    top: 0;
    transform: rotate(45deg) scale(0);
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    width: 0.5em;
  }

  .checkbox.is-checked &,
  .checkbox.is-indeterminate & {
    &:before {
      background-color: var(--checkbox-checked-background-color);
      border: 1px solid var(--checkbox-checked-border-color);
      border-radius: inherit;
      content: '';
      height: 100%;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .checkbox.is-unchecked & {
    &:before {
      border-radius: inherit;
      border: 1px solid var(--checkbox-unchecked-border-color);
      bottom: 0;
      content: '';
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.checkboxInputContainerFocusRing {
  border-radius: inherit;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  @mixin prepareFocusRing;
}

.checkbox:hover,
.checkbox.is-focused {
  .checkboxInputContainerFocusRing {
    @mixin makeFocusRing var(--checkbox-unchecked-hovered-focus-ring-color);
  }

  &.is-checked,
  &.is-indeterminate {
    .checkboxInputContainerFocusRing {
      @mixin makeFocusRing var(--checkbox-checked-hovered-focus-ring-color);
      @mixin setFocusRingOpacity var(--checkbox-checked-hovered-focus-ring-opacity, 0.2);
    }
  }
}

.checkbox.is-checked {
  .checkboxInputContainer {
    &:after {
      transform: rotate(45deg) scale(0.8);
    }
  }
}

.checkbox.is-indeterminate {
  .checkboxInputContainer {
    &:before {
      background-color: var(--checkbox-checked-background-color);
    }

    &:after {
      background-color: var(--checkbox-checked-icon-color);
      border: none;
      height: 0.11em;
      left: 0.42em;
      top: 0.57em;
      transform: none;
      width: 0.6em;
    }
  }
}

.checkbox--primary {
  @mixin themed .checkbox {
    --checkbox-checked-background-color: var(--phork-accent-color, $theme-color-accent);
    --checkbox-checked-border-color: var(--phork-accent-color, $theme-color-accent);
    --checkbox-checked-hovered-focus-ring-color: var(--phork-accent-color, $theme-color-accent);
    --checkbox-checked-icon-color: var(--phork-accent-color-contrast, $theme-color-accent-contrast);
    --checkbox-unchecked-border-color: $theme-color-FG0-O20;
    --checkbox-unchecked-hovered-focus-ring-color: $theme-color-FG0-O40;

    &.checkbox--secondary {
      --checkbox-checked-background-color: transparent;
      --checkbox-checked-border-color: var(--phork-accent-color, $theme-color-accent);
      --checkbox-checked-icon-color: var(--phork-accent-color, $theme-color-accent);
    }
  }

  &.checkbox--dark {
    --checkbox-checked-hovered-focus-ring-opacity: 0.3;
  }
}

.checkbox--contrast {
  @mixin themed .checkbox {
    --checkbox-checked-background-color: $theme-contrast-palette-text-color;
    --checkbox-checked-border-color: $theme-contrast-palette-text-color;
    --checkbox-checked-hovered-focus-ring-color: $theme-contrast-palette-text-color;
    --checkbox-checked-icon-color: var(--phork-contrast-color, $theme-contrast-palette-background-color);
    --checkbox-unchecked-border-color: $theme-contrast-palette-quieter-color;
    --checkbox-unchecked-hovered-focus-ring-color: $theme-contrast-palette-quietest-color;

    &.checkbox--secondary {
      --checkbox-checked-background-color: transparent;
      --checkbox-checked-border-color: $theme-contrast-palette-text-color;
      --checkbox-checked-icon-color: $theme-contrast-palette-text-color;
    }
  }
}

.checkbox.is-danger {
  @mixin themed .checkbox {
    --checkbox-checked-background-color: $theme-color-danger;
    --checkbox-checked-border-color: $theme-color-danger;
    --checkbox-checked-hovered-focus-ring-color: $theme-color-danger;
    --checkbox-checked-icon-color: $theme-color-danger-contrast;
    --checkbox-unchecked-border-color: $theme-color-danger;
    --checkbox-unchecked-hovered-focus-ring-color: $theme-color-FG0-O40;

    &.checkbox--secondary {
      --checkbox-checked-background-color: transparent;
      --checkbox-checked-border-color: $theme-color-danger;
      --checkbox-checked-icon-color: $theme-color-danger;
    }
  }

  &.checkbox--dark {
    --checkbox-checked-hovered-focus-ring-opacity: 0.3;
  }
}
