.checkbox {
  display: inline-flex;
  flex-direction: row;
  position: relative;

  &:focus {
    outline: none;
  }

  &.is-disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

.checkbox--full {
  justify-content: space-between;
  width: 100%;
}

.checkbox--reverse {
  flex-direction: row-reverse;
}

input.checkboxInput {
  @mixin visuallyHidden;
}

.checkboxLabel {
  line-height: 1.5;
  margin-left: 12px;
  margin-top: 1px;
  min-height: 1.4em;
  position: relative;

  .checkbox--reverse & {
    margin-left: 0;
    margin-right: 12px;
  }
}

/**
 * 1. The font size determines the size of the checkbox.
 */
.checkboxInputContainer {
  border-radius: 0.2em;
  flex: none;
  font-size: 13px; /* [1] */
  height: 1.4em; /* [1] */
  position: relative;
  width: 1.4em; /* [1] */

  &:after {
    border: solid transparent;
    border-color: var(--checkbox-checked-icon-color);
    border-width: 0 0.18em 0.18em 0;
    content: '';
    height: 1em;
    left: 0.47em;
    margin-top: 0.1em;
    position: absolute;
    top: 0;
    transform: rotate(45deg) scale(0);
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    width: 0.5em;
  }

  .checkbox.is-checked &,
  .checkbox.is-indeterminate & {
    &:before {
      background-color: var(--checkbox-checked-background-color);
      border: 1px solid var(--checkbox-checked-border-color);
      border-radius: inherit;
      content: '';
      height: 100%;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .checkbox.is-unchecked & {
    &:before {
      border-radius: inherit;
      border: 1px solid var(--checkbox-unchecked-border-color);
      bottom: 0;
      content: '';
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.checkboxInputContainerFocusRing {
  border-radius: inherit;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &:before {
    border-radius: inherit;
    bottom: 0;
    box-shadow: 0 0 0 0 transparent;
    content: '';
    left: 0;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: 0;
    transition: box-shadow 200ms ease;
  }
}

.checkbox.is-checked {
  .checkboxInputContainer {
    &:after {
      transform: rotate(45deg) scale(0.8);
    }
  }
}

.checkbox:hover,
.checkbox.is-focused {
  .checkboxInputContainerFocusRing {
    &:before {
      box-shadow: var(--checkbox-unchecked-hovered-box-shadow);
    }
  }

  &.is-checked,
  &.is-indeterminate {
    .checkboxInputContainerFocusRing {
      &:before {
        box-shadow: var(--checkbox-checked-hovered-box-shadow);
        opacity: var(--checkbox-checked-hovered-opacity, 0.2);
      }
    }
  }
}

.checkbox.is-indeterminate {
  .checkboxInputContainer {
    &:before {
      background-color: var(--checkbox-checked-background-color);
    }

    &:after {
      background-color: var(--checkbox-checked-icon-color);
      border: none;
      height: 0.11em;
      left: 0.42em;
      top: 0.57em;
      transform: none;
      width: 0.6em;
    }
  }
}

/**
 * 1. This should be the inverse of the margin
 *    applied to .checkboxGroup--inline
 */
.checkbox--grouped--inline {
  margin: 4px 12px; /* [1] */
}

/**
 * 1. This should be the inverse of the margin
 *    applied to .checkboxGroup--stacked
 */
.checkbox--grouped--stacked {
  margin: 4px 0; /* [1] */
}

.checkbox--primary {
  @mixin themed .checkbox {
    --checkbox-checked-background-color: $theme-color-accent-primary;
    --checkbox-checked-border-color: $theme-color-accent-primary;
    --checkbox-checked-hovered-box-shadow: 0 0 0 4px $theme-color-accent-primary;
    --checkbox-checked-focused-box-shadow: 0 0 0 1px $theme-color-accent-primary;
    --checkbox-checked-icon-color: $theme-color-accent-primary-contrast;
    --checkbox-unchecked-border-color: $theme-color-FG0-O20;
    --checkbox-unchecked-hovered-box-shadow: 0 0 0 4px $theme-color-FG0-O40;
    --checkbox-unchecked-focused-box-shadow: 0 0 0 1px $theme-color-FG0-O40;
    --checkbox-focused-box-shadow: 0 0 0 1px $theme-color-accent-primary;

    &.checkbox--secondary {
      --checkbox-checked-background-color: transparent;
      --checkbox-checked-border-color: $theme-color-accent-primary;
      --checkbox-checked-icon-color: $theme-color-accent-primary;
    }
  }

  &.checkbox--dark {
    --checkbox-checked-hovered-opacity: 0.3;
  }
}

.checkbox--contrast {
  @mixin themed .checkbox {
    --checkbox-checked-background-color: $theme-contrast-palette-accent-color;
    --checkbox-checked-border-color: $theme-contrast-palette-accent-color;
    --checkbox-checked-hovered-box-shadow: 0 0 0 4px $theme-contrast-palette-accent-color;
    --checkbox-checked-focused-box-shadow: 0 0 0 1px $theme-contrast-palette-accent-color;
    --checkbox-checked-icon-color: var(--contrast-color, $theme-contrast-palette-background-color);
    --checkbox-unchecked-border-color: $theme-contrast-palette-quieter-color;
    --checkbox-unchecked-hovered-box-shadow: 0 0 0 4px $theme-contrast-palette-quietest-color;
    --checkbox-unchecked-focused-box-shadow: 0 0 0 1px $theme-contrast-palette-quietest-color;
    --checkbox-focused-box-shadow: 0 0 0 1px $theme-contrast-palette-accent-color;

    &.checkbox--secondary {
      --checkbox-checked-background-color: transparent;
      --checkbox-checked-border-color: $theme-contrast-palette-accent-color;
      --checkbox-checked-icon-color: $theme-contrast-palette-accent-color;
    }
  }
}

.checkbox.is-danger {
  @mixin themed .checkbox {
    --checkbox-checked-background-color: $theme-color-danger;
    --checkbox-checked-border-color: $theme-color-danger;
    --checkbox-checked-hovered-box-shadow: 0 0 0 4px $theme-color-danger;
    --checkbox-checked-focused-box-shadow: 0 0 0 1px $theme-color-danger;
    --checkbox-checked-icon-color: $theme-color-danger-contrast;
    --checkbox-unchecked-border-color: $theme-color-danger;
    --checkbox-unchecked-hovered-box-shadow: 0 0 0 4px $theme-color-FG0-O40;
    --checkbox-unchecked-focused-box-shadow: 0 0 0 1px $theme-color-FG0-O40;
    --checkbox-focused-box-shadow: 0 0 0 1px $theme-color-danger-D10;

    &.checkbox--secondary {
      --checkbox-checked-background-color: transparent;
      --checkbox-checked-border-color: $theme-color-danger;
      --checkbox-checked-icon-color: $theme-color-danger;
    }
  }

  &.checkbox--dark {
    --checkbox-checked-hovered-opacity: 0.3;
  }
}
