.checkboxGroup {
  display: flex;
  flex-wrap: wrap;
}

/**
 * 1. This should be the inverse of the margin
 *    applied to .checkbox--stacked
 */
.checkboxGroup--stacked {
  flex-direction: column;
  margin: -4px 0; /* [1] */
}

/**
 * 1. This should be the inverse of the margin
 *    applied to .checkbox--inline
 */
.checkboxGroup--inline {
  flex-direction: row;
  margin: -4px -12px; /* [1] */
}

/**
 * 1. This should be the inverse of the margin
 *    applied to .checkboxGroup--inline
 */
.checkbox--inline {
  margin: 4px 12px; /* [1] */
}

/**
 * 1. This should be the inverse of the margin
 *    applied to .checkboxGroup--stacked
 */
.checkbox--stacked {
  margin: 4px 0; /* [1] */
}
