.checkbox {
  display: inline-block;
  position: relative;
}

/**
 * 1. This should be the inverse of the margin
 *    applied to .checkboxGroup--inline
 */
.checkbox--grouped--inline {
  margin: 4px 12px; /* [1] */
}

/**
 * 1. This should be the inverse of the margin
 *    applied to .checkboxGroup--stacked
 */
.checkbox--grouped--stacked {
  margin: 4px 0; /* [1] */
}

input.checkboxInput {
  @mixin visuallyHidden;
}

.checkboxLabel {
  line-height: 1.5;
  min-height: 1.4em;
  padding-left: 2.2em;
  position: relative;

  &:before {
    background-color: var(--checkbox-unchecked-background-color);
    border-radius: .2em;
    content: "";
    height: 1.4em;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: box-shadow 200ms ease;
    width: 1.4em;
  }

  &:after {
    border: solid transparent;
    border-color: var(--checkbox-checked-icon-color);
    border-width: 0 .18em .18em 0;
    content: "";
    height: 1em;
    left: .45em;
    margin-top: .1em;
    position: absolute;
    top: 0;
    transform: rotate(45deg) scale(0);
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    width: .5em;
  }
}

.checkboxInput:checked + .checkboxLabel {
  &:before {
    background-color: var(--checkbox-checked-background-color);
  }

  &:after {
    transform: rotate(45deg) scale(.8);
  }
}

.checkboxInput:indeterminate + .checkboxLabel {
  &:before {
    background-color: var(--checkbox-checked-background-color);
  }

  &:after {
    background-color: var(--checkbox-checked-icon-color);
    border: none;
    height: .11em;
    left: .43em;
    top: .57em;
    transform: none;
    width: .6em;
  }
}

/**
 * 1. Use the box shadow to add an outline to the
 *    checkbox.
 */
.checkboxInput:checked + .checkboxLabel:hover,
.checkboxInput:indeterminate + .checkboxLabel:hover {
  &:before {
    box-shadow: var(--checkbox-checked-hover-box-shadow); /* [1] */
  }
}

/**
 * 1. Use the box shadow to add an outline to the
 *    checkbox.
 */
.checkboxInput:not(:checked):not(:indeterminate):not(:focus) + .checkboxLabel:hover {
  &:before {
    box-shadow: var(--checkbox-unchecked-hover-box-shadow); /* [1] */
  }
}

/**
 * 1. Use the box shadow to add an outline to the
 *    checkbox.
 */
.checkboxInput:checked:focus + .checkboxLabel,
.checkboxInput:not(:checked):focus + .checkboxLabel {
  &:before {
    box-shadow: var(--checkbox-focused-box-shadow); /* [1] */
  }
}

.checkboxInput:disabled + .checkboxLabel {
  opacity: .6;
  pointer-events: none;
}

.checkbox--primary {
  @mixin themed .checkbox {
    --checkbox-checked-background-color: $theme-color-accent-primary;
    --checkbox-checked-hover-box-shadow: 0 0 0 1px $theme-color-accent-primary;
    --checkbox-checked-icon-color: $theme-color-accent-primary-contrast;
    --checkbox-unchecked-background-color: $theme-color-FG0-O10;
    --checkbox-unchecked-hover-box-shadow: 0 0 0 1px $theme-color-FG0-O10;
    --checkbox-focused-box-shadow: 0 0 0 1px $theme-color-accent-primary;
  }
}

.checkbox--contrast {
  @mixin themed .checkbox {
    --checkbox-checked-background-color: $theme-contrast-accent-color;
    --checkbox-checked-hover-box-shadow: 0 0 0 1px $theme-contrast-accent-color;
    --checkbox-checked-icon-color: var(--contrast-color, $theme-contrast-background-color);
    --checkbox-unchecked-background-color: $theme-contrast-quietest-color;
    --checkbox-unchecked-hover-box-shadow: 0 0 0 1px $theme-contrast-quietest-color;
    --checkbox-focused-box-shadow: 0 0 0 1px $theme-contrast-accent-color;
  }
}

.checkbox.is-danger {
  @mixin themed .checkbox {
    --checkbox-checked-background-color: $theme-color-danger;
    --checkbox-checked-hover-box-shadow: 0 0 0 1px $theme-color-danger;
    --checkbox-checked-icon-color: $theme-color-danger-contrast;
    --checkbox-unchecked-background-color: $theme-color-danger;
    --checkbox-unchecked-hover-box-shadow: 0 0 0 1px $theme-color-danger;
    --checkbox-focused-box-shadow: 0 0 0 1px $theme-color-danger-D10;
  }
}
