.formbox {
  display: inline-block;
  font-size: $font-size-s;
  position: relative;
}

.formbox--underline {
  &.is-labeled {
    padding-top: 16px;
  }
}

.formbox--outline,
.formbox--pill {
  &.is-labeled {
    padding-top: 18px;
  }
}

.formbox--minimal {
  &.is-labeled {
    padding-top: 16px;
  }
}

/**
 * Style the input container rather than the input itself
 * so that it can automatically make room for the icons.
 */
.formboxInputContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: none;
  position: relative;
  transition: background-color 200ms ease;
}

.formboxInputContainer--underline,
.formboxInputContainer--filled {
  $box-shadow-position: inset 0 -1px 0 0;
  box-shadow: $box-shadow-position var(--formbox-input-container-border-color);

  &:not(.formboxInputContainer--readOnly) {
    &:hover,
    &.is-hovered {
      box-shadow: $box-shadow-position var(--formbox-input-container-hovered-border-color);
    }

    &:after {
      background-color: var(--formbox-input-container-focused-border-color);
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      transition: transform 300ms ease;
      transform: scaleX(0);
      width: 100%;
    }

    &.focus,
    &.is-focused {
      &:after {
        transform: scaleX(1);
      }
    }
  }
}

.formboxInputContainer--underline {
  padding: 1px 0 3px;
}

/**
 * 1. Prevent the underline from being hidden.
 * 2. Unlike the others, put the padding on the parent so the background color encompasses the label
 */
.formboxInputContainer--filled {
  border-top-left-radius: $border-radius-s;
  border-top-right-radius: $border-radius-s;
  margin-bottom: 1px; /* [1] */
  padding: 6px 8px 2px 8px;

  .is-labeled & {
    padding-top: 20px; /* [2] */
  }

  &:before {
    background-color: var(--formbox-input-container-border-color);
    border-top-left-radius: $border-radius-s;
    border-top-right-radius: $border-radius-s;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0.1;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 200ms ease;
  }

  &:hover,
  &.is-hovered {
    &:before {
      background-color: var(--formbox-input-container-hovered-border-color);
    }
  }

  &.focus,
  &.is-focused {
    &:before {
      background-color: var(--formbox-input-container-focused-border-color);
    }
  }
}

.formboxInputContainer--outline,
.formboxInputContainer--pill {
  background-color: var(--formbox-input-container-background-color);
  border: 1px solid var(--formbox-input-container-border-color);
  min-height: $element-height-medium;

  &:hover,
  &.is-hovered {
    border-color: var(--formbox-input-container-hovered-border-color);
  }

  &.focus,
  &.is-focused {
    border-color: var(--formbox-input-container-focused-border-color);
  }
}

.formboxInputContainer--minimal {
  &.focus,
  &.is-focused {
    caret-color: var(formbox-input-container-focused-border-color);
  }
}

.formboxInputContainer--outline {
  border-radius: $border-radius-m;
  padding: 4px 8px 2px 8px;
}

.formboxInputContainer--pill {
  border-radius: $element-height-medium;
  padding: 4px 16px 2px 16px;
}

input.formboxInput,
select.formboxInput,
textarea.formboxInput {
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--formbox-input-text-color);
  flex: 1;
  font-size: $font-size-l;
  line-height: 1.15;
  min-width: 0;
  outline: none;
  padding: 4px 0;
}

input.formboxInput[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.formboxReadOnly {
  color: var(--formbox-input-text-color);
  display: flex;
  flex: 1;
  flex-direction: row;
  font-size: $font-size-l;
  line-height: 1.15;
  padding: 4px 0;

  &:focus,
  &.is-focused {
    outline: none;
  }
}

.formboxReadOnlyList {
  display: flex;
  flex-direction: column;

  > * {
    padding: 2px 0;
  }
}

/**
 * 1. Prevent a tiny bit of extra space showing below
 *    the input.
 */
.formboxIcon {
  color: var(--formbox-icon-color);
  height: 100%; /* [1] */
  line-height: 1; /* [1] */
  pointer-events: none;
  position: relative;
}

.formboxIcon--filled {
  transition: top 200ms ease;
  top: -1px;

  .formbox.formbox--select.is-labeled.is-empty &,
  .formbox:not(.formbox--select).is-labeled.is-empty:not(.is-focused) & {
    top: -7px;
  }
}

.formboxIcon--autoSize {
  height: 12px;
  width: 12px;
}

.formboxIcon--actionable {
  cursor: pointer;
  pointer-events: all;

  &:focus,
  &:hover,
  &.is-hovereded {
    color: var(--formbox-icon-hovered-color);
  }
}

.formboxIcon--before {
  margin-right: 8px;
}

.formboxIcon--after {
  margin-left: 8px;
}

.formboxLabel {
  color: var(--formbox-label-text-color);
  font-size: $font-size-xs;
  left: 0;
  line-height: 1.5;
  position: absolute;
  top: 0;
  transition: all 200ms ease;
  white-space: nowrap;
  z-index: 1;
}

.formboxLabel--filled {
  left: 8px;
  top: 4px;
}

.formboxLabel--pill {
  left: 17px;
}

.formboxLabel--placeholder {
  font-size: $font-size-l;
  opacity: 0.7;
  pointer-events: none;
  user-select: none;

  &.formboxLabel--hasIconBefore {
    padding-left: 20px;
  }

  &.formboxLabel--hasIconAfter {
    padding-right: 20px;
  }

  &.formboxLabel--underline {
    top: 18px;
  }

  &.formboxLabel--filled {
    top: 15px;
  }

  &.formboxLabel--outline {
    left: 8px;
    top: 26px;
  }

  &.formboxLabel--pill {
    left: 16px;
    top: 26px;
  }

  &.formboxLabel--minimal {
    top: 18px;
  }
}

.formbox.is-disabled {
  opacity: 0.6;
  pointer-events: none;
}

.formbox.is-readonly {
  pointer-events: none;
}

.formbox--primary {
  @mixin themed .formbox {
    --formbox-icon-color: $theme-primary-palette-quieter-color;
    --formbox-icon-hovered-color: $theme-primary-palette-accent-color;
    --formbox-input-container-background-color: transparent;
    --formbox-input-container-border-color: $theme-primary-palette-quietest-color;
    --formbox-input-container-focused-border-color: $theme-color-accent-primary;
    --formbox-input-container-hovered-border-color: $theme-primary-palette-quieter-color;
    --formbox-input-text-color: $theme-primary-palette-text-color;
    --formbox-label-text-color: $theme-primary-palette-quiet-color;
  }

  &.formbox--light {
    --formbox-placeholder-opacity: 0.3;
  }

  &.formbox--dark {
    --formbox-placeholder-opacity: 0.5;
  }
}

.formbox--contrast {
  @mixin themed .formbox {
    --formbox-icon-color: $theme-contrast-palette-quieter-color;
    --formbox-icon-hovered-color: $theme-contrast-palette-accent-color;
    --formbox-input-container-background-color: transparent;
    --formbox-input-container-border-color: $theme-contrast-palette-quieter-color;
    --formbox-input-container-focused-border-color: $theme-contrast-palette-accent-color;
    --formbox-input-container-hovered-border-color: $theme-contrast-palette-quieter-color;
    --formbox-input-text-color: $theme-contrast-palette-text-color;
    --formbox-label-text-color: $theme-contrast-palette-quiet-color;
  }
}

.formbox.is-success {
  @mixin themed .formbox {
    --formbox-input-container-border-color: $theme-color-success;
    --formbox-input-container-focused-border-color: $theme-color-success-D10;
    --formbox-input-container-hovered-border-color: $theme-color-success-D10;
  }
}

.formbox.is-warning {
  @mixin themed .formbox {
    --formbox-input-container-border-color: $theme-color-warning;
    --formbox-input-container-focused-border-color: $theme-color-warning;
    --formbox-input-container-hovered-border-color: $theme-color-warning-D10;
  }
}

.formbox.is-danger {
  @mixin themed .formbox {
    --formbox-input-container-border-color: $theme-color-danger;
    --formbox-input-container-focused-border-color: $theme-color-danger-D10;
    --formbox-input-container-hovered-border-color: $theme-color-danger-D10;
  }
}

/**
 * This resorts to using !important so that it can override any
 * custom styles applied.
 */
.formbox--transparent {
  --formbox-input-container-background-color: transparent !important;
  --formbox-input-container-border-color: transparent !important;
  --formbox-input-container-focused-border-color: transparent !important;
  --formbox-input-container-hovered-border-color: transparent !important;
}

/* input-specific - these must go last */

/**
 * 1. Prevent Chrome autocomplete from changing the form
 *    background to yellow.
 */
input.formboxInput {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-transition-delay: 99999s; /* [1] */
  }

  &::placeholder {
    opacity: var(--formbox-placeholder-opacity);
  }
}

/**
 * 1. Allow clicking on the down arrow to show the dropdown.
 * 2. Prevent the text from overflowing into the arrow.
 * 3. Visually align the options with the container.
 */
select.formboxInput {
  &:not([multiple]) {
    margin-right: -20px; /* [1] */
    padding-right: 20px; /* [2] */

    .formboxInputContainer--filled & {
      margin-right: -24px; /* [1] */
      padding-right: 24px; /* [2] */
      margin-left: -8px; /* [3] */
      padding-left: 8px; /* [3] */
    }

    .formboxInputContainer--outline &,
    .formboxInputContainer--pill & {
      margin-right: -25px; /* [1] */
      padding-right: 25px; /* [2] */
      margin-left: -9px; /* [3] */
      padding-left: 9px; /* [3] */
    }
  }

  &[multiple] {
    .formboxInputContainer--filled & {
      margin-left: -8px; /* [3] */
      margin-right: -12px; /* [3] */
    }

    .formboxInputContainer--outline &,
    .formboxInputContainer--pill & {
      margin-left: -8px; /* [3] */
      margin-right: -12px; /* [3] */
    }
  }
}

/**
 * 1. Textareas have a top left corner marker that
 *    other inputs don't have.
 */
.formbox--textarea {
  .formboxInputContainer--underline,
  .formboxInputContainer--filled,
  .formboxInputContainer--outline {
    padding: 4px 0 4px 8px;

    &:not(.formboxInputContainer--readOnly) {
      &.is-focused {
        &:before {
          border-color: var(--formbox-input-container-focused-border-color);
        }
      }
    }
  }

  .formboxInputContainer--underline /* [1] */ {
    margin-top: 4px;

    &:before {
      border-left: 1px solid var(--formbox-input-container-border-color);
      border-top: 1px solid var(--formbox-input-container-border-color);
      content: '';
      height: 8px;
      left: 0;
      position: absolute;
      top: 0;
      width: 8px;
    }
  }

  &.is-labeled {
    .formboxInputContainer--filled {
      padding-top: 20px;
    }
  }

  /**
   * 1. The input container top margin and top padding plus the
   *    original 17px.
   * 2. The left padding.
   */
  .formboxLabel--placeholder {
    top: 25px; /* [1] */
    left: 8px; /* [2] */

    &.formboxLabel--filled {
      top: 6px;
    }
  }

  .formboxIcon--filled,
  .formboxIcon--outline {
    &.formboxIcon--after:last-child {
      margin-right: 8px;
    }
  }
}

/**
 * 1. To add some space to the drag corner.
 */
textarea.formboxInput {
  font-size: $font-size-l;
  line-height: 1.4;
  margin-right: 4px; /* [1] */
  padding: 2px 0 4px 0;

  &::placeholder {
    opacity: var(--formbox-placeholder-opacity);
  }
}
