.formbox--medium {
  --formbox-left-icon-space: 20px;
  --formbox-right-icon-space: 20px;
  --formbox-input-font-size: $font-size-medium;
  --formbox-placeholder-top-margin: 17px;
}

.formbox,
.formbox--large {
  --formbox-left-icon-space: 20px;
  --formbox-right-icon-space: 20px;
  --formbox-input-font-size: $font-size-large;
  --formbox-placeholder-top-margin: 17px;
}

.formbox--xlarge {
  --formbox-left-icon-space: 21px;
  --formbox-right-icon-space: 21px;
  --formbox-input-font-size: $font-size-xlarge;
  --formbox-placeholder-top-margin: 16px;
}

.formbox--2xlarge {
  --formbox-left-icon-space: 23px;
  --formbox-right-icon-space: 23px;
  --formbox-input-font-size: $font-size-2xlarge;
  --formbox-placeholder-top-margin: 16px;
}

.formbox--3xlarge {
  --formbox-left-icon-space: 25px;
  --formbox-right-icon-space: 25px;
  --formbox-input-font-size: $font-size-3xlarge;
  --formbox-placeholder-top-margin: 15px;
}

.formbox--4xlarge {
  --formbox-left-icon-space: 27px;
  --formbox-right-icon-space: 27px;
  --formbox-input-font-size: $font-size-4xlarge;
  --formbox-input-multi-line-height: 1.3;
  --formbox-placeholder-top-margin: 15px;
}

.formbox--5xlarge {
  --formbox-left-icon-space: 31px;
  --formbox-right-icon-space: 31px;
  --formbox-input-font-size: $font-size-5xlarge;
  --formbox-input-multi-line-height: 1.2;
  --formbox-placeholder-top-margin: 14px;
}

.formbox--6xlarge {
  --formbox-left-icon-space: 35px;
  --formbox-right-icon-space: 35px;
  --formbox-input-font-size: $font-size-6xlarge;
  --formbox-input-multi-line-height: 1.2;
  --formbox-placeholder-top-margin: 14px;
}

.formbox--7xlarge {
  --formbox-left-icon-space: 39px;
  --formbox-right-icon-space: 39px;
  --formbox-input-font-size: $font-size-7xlarge;
  --formbox-input-multi-line-height: 1.2;
  --formbox-placeholder-top-margin: 14px;
}

.formbox--8xlarge {
  --formbox-left-icon-space: 43px;
  --formbox-right-icon-space: 43px;
  --formbox-input-font-size: $font-size-8xlarge;
  --formbox-input-multi-line-height: 1.2;
  --formbox-placeholder-top-margin: 12px;
}
