.radioGroup {
  display: flex;
  flex-wrap: wrap;
}

/**
 * 1. This should be the inverse of the margin
 *    applied to .radio--stacked
 */
.radioGroup--stacked {
  flex-direction: column;
  margin: -4px 0; /* [1] */
}

/**
 * 1. This should be the inverse of the margin
 *    applied to .radio--inline
 */
.radioGroup--inline {
  flex-direction: row;
  margin: -4px -12px; /* [1] */
}

/**
 * 1. This should be the inverse of the margin
 *    applied to .radioGroup--inline
 */
.radio--inline {
  margin: 4px 12px; /* [1] */
}

/**
 * 1. This should be the inverse of the margin
 *    applied to .radioGroup--stacked
 */
.radio--stacked {
  margin: 4px 0; /* [1] */
}
