.radio {
  display: inline-flex;
  flex-direction: row;
  position: relative;

  &:focus {
    outline: none;
  }

  &.is-disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

.radio--reverse {
  flex-direction: row-reverse;
}

input.radioInput {
  @mixin visuallyHidden;
}

.radioLabel {
  line-height: 1.5;
  min-height: 1.4em;
  position: relative;
}

/**
 * 1. The font size determines the size of the radio.
 */
.radioInputContainer {
  border-radius: 100%;
  flex: none;
  font-size: 13px; /* [1] */
  height: 1.4em; /* [1] */
  position: relative;
  width: 1.4em; /* [1] */

  .radio--reverse & {
    margin-left: 12px;
  }

  :not(.radio--reverse) & {
    margin-right: 12px;
  }

  &:after {
    background-color: var(--radio-checked-icon-color);
    border-radius: 100%;
    content: '';
    height: 1.4em;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: scale(0);
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    width: 1.4em;
  }

  .radio--checked & {
    &:before {
      background-color: var(--radio-checked-background-color);
      border-radius: inherit;
      content: '';
      height: 100%;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:after {
      transform: scale(0.4);
    }
  }

  .radio--unchecked & {
    &:before {
      border-radius: inherit;
      border: 1px solid var(--radio-unchecked-border-color);
      bottom: 0;
      content: '';
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.radioInputContainerFocusRing {
  border-radius: inherit;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &:before {
    border-radius: inherit;
    bottom: 0;
    box-shadow: 0 0 0 0 transparent;
    content: '';
    left: 0;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: 0;
    transition: box-shadow 200ms ease;
  }

  &:after {
    border-radius: 100%;
    bottom: -2px;
    box-shadow: 0 0 0 0 transparent;
    content: '';
    left: -2px;
    position: absolute;
    right: -2px;
    top: -2px;
    transition: box-shadow 200ms ease;
  }
}

.radio.is-focused.is-accessible {
  .radioInputContainerFocusRing {
    &:after {
      box-shadow: var(--radio-unchecked-focused-box-shadow);
    }
  }

  &.radio--checked {
    .radioInputContainerFocusRing {
      &:after {
        box-shadow: var(--radio-checked-focused-box-shadow);
      }
    }
  }
}

.radio:hover {
  .radioInputContainerFocusRing {
    &:before {
      box-shadow: var(--radio-unchecked-hover-box-shadow);
    }
  }

  &.radio--checked {
    .radioInputContainerFocusRing {
      &:before {
        box-shadow: var(--radio-checked-hover-box-shadow);
        opacity: var(--radio-checked-hover-opacity, 0.2);
      }
    }
  }
}

/**
 * 1. This should be the inverse of the margin
 *    applied to .radioGroup--inline
 */
.radio--grouped--inline {
  margin: 4px 12px; /* [1] */
}

/**
 * 1. This should be the inverse of the margin
 *    applied to .radioGroup--stacked
 */
.radio--grouped--stacked {
  margin: 4px 0; /* [1] */
}

.radio--primary {
  @mixin themed .radio {
    --radio-checked-background-color: $theme-color-accent-primary;
    --radio-checked-hover-box-shadow: 0 0 0 4px $theme-color-accent-primary;
    --radio-checked-focused-box-shadow: 0 0 0 1px $theme-color-accent-primary;
    --radio-checked-icon-color: $theme-color-accent-primary-contrast;
    --radio-unchecked-border-color: $theme-primary-palette-quietest-color;
    --radio-unchecked-hover-box-shadow: 0 0 0 4px $theme-color-FG0-O40;
    --radio-unchecked-focused-box-shadow: 0 0 0 1px $theme-color-FG0-O40;
    --radio-focused-box-shadow: 0 0 0 1px $theme-color-accent-primary;
  }

  &.radio--dark {
    --radio-checked-hover-opacity: 0.3;
  }
}

.radio--contrast {
  @mixin themed .radio {
    --radio-checked-background-color: $theme-contrast-palette-accent-color;
    --radio-checked-hover-box-shadow: 0 0 0 4px $theme-contrast-palette-accent-color;
    --radio-checked-focused-box-shadow: 0 0 0 1px $theme-contrast-palette-accent-color;
    --radio-checked-icon-color: var(--contrast-color, $theme-contrast-palette-background-color);
    --radio-unchecked-border-color: $theme-contrast-palette-quieter-color;
    --radio-unchecked-hover-box-shadow: 0 0 0 4px $theme-contrast-palette-quietest-color;
    --radio-unchecked-focused-box-shadow: 0 0 0 1px $theme-contrast-palette-quietest-color;
    --radio-focused-box-shadow: 0 0 0 1px $theme-contrast-palette-accent-color;
  }
}

.radio.is-danger {
  @mixin themed .radio {
    --radio-checked-background-color: $theme-color-danger;
    --radio-checked-hover-box-shadow: 0 0 0 4px $theme-color-danger;
    --radio-checked-focused-box-shadow: 0 0 0 1px $theme-color-danger;
    --radio-checked-icon-color: $theme-color-danger-contrast;
    --radio-unchecked-border-color: $theme-color-danger;
    --radio-unchecked-hover-box-shadow: 0 0 0 4px $theme-color-FG0-O40;
    --radio-unchecked-focused-box-shadow: 0 0 0 1px $theme-color-FG0-O40;
    --radio-focused-box-shadow: 0 0 0 1px $theme-color-danger-D10;
  }

  &.radio--dark {
    --radio-checked-hover-opacity: 0.3;
  }
}
