.radio--medium {
  --radio-input-font-size: $font-size-m;
  --radio-label-font-size: $font-size-s;
}

.radio,
.radio--large {
  --radio-input-font-size: $font-size-l;
  --radio-label-font-size: $font-size-m;
}

.radio--xlarge {
  --radio-input-font-size: $font-size-xl;
  --radio-label-font-size: $font-size-l;
}

.radio--xxlarge {
  --radio-input-font-size: $font-size-xxl;
  --radio-label-font-size: $font-size-xl;
}

.radio--xxxlarge {
  --radio-input-font-size: $font-size-xxxl;
  --radio-label-font-size: $font-size-xxl;
}

.radio--xxxxlarge {
  --radio-input-font-size: $font-size-xxxxl;
  --radio-label-font-size: $font-size-xxxl;
}

.radio--xxxxxlarge {
  --radio-input-font-size: $font-size-xxxxxl;
  --radio-label-font-size: $font-size-xxxxl;
}

.radio--xxxxxxlarge {
  --radio-input-font-size: $font-size-xxxxxxl;
  --radio-label-font-size: $font-size-xxxxxl;
}

.radio--xxxxxxxlarge {
  --radio-input-font-size: $font-size-xxxxxxxl;
  --radio-label-font-size: $font-size-xxxxxxl;
}

.radio--xxxxxxxxlarge {
  --radio-input-font-size: $font-size-xxxxxxxxl;
  --radio-label-font-size: $font-size-xxxxxxxl;
}
