@import '../../../styles/common/mixins/addScrollbar.css';

.modal {
  @mixin addScrollbar var(--modal-scrollbar-thumb-color);

  background-color: var(--modal-background-color);
  border-radius: $border-radius-small;
  box-shadow: var(--modal-box-shadow);
  color: var(--modal-text-color);
  display: flex;
  flex-direction: column;
  font-size: $font-size-medium;
  margin: 8px;
  max-height: calc(100vh - 20px);
  max-width: calc(100vw - 20px);
  pointer-events: all;
  position: relative;

  &:not(.modal--allowOverflow) {
    overflow: auto;
    overflow: overlay;
  }

  &.modal--light {
    background-color: $light-primary-palette-background-color;
    box-shadow: $light-box-shadow-10;
    color: $light-primary-palette-text-color;

    --modal-scrollbar-thumb-color: $light-primary-scrollbar-thumb-color;
  }

  &.modal--dark {
    background-color: $dark-primary-palette-background-color;
    box-shadow: $dark-box-shadow-10;
    color: $dark-primary-palette-text-color;

    --modal-scrollbar-thumb-color: $dark-primary-scrollbar-thumb-color;
  }
}

.modal--transitional {
  opacity: 0;
  top: 30px;
  transition-duration: 80ms;
  transition-property: opacity, top;
  transition-timing-function: ease-out;

  &.has-transitioned {
    opacity: 1;
    top: 0;
  }
}

.modal--small {
  width: 440px;
}

.modal--medium {
  width: 660px;
}

.modal--large {
  width: 880px;
}

.modal--xlarge {
  width: 90%;
}

.modalActions {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 100;

  > button {
    padding: 4px;
    margin-left: 4px;
  }
}

.modalHeader {
  flex: none;
  margin-bottom: 4px;
  padding: 20px 36px 8px;

  @media (--viewport-xsmall-down) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.modalHeader--bordered {
  padding-bottom: 20px;

  .modal--light & {
    border-bottom: 1px solid $light-primary-palette-border-color;
  }

  .modal--dark & {
    border-bottom: 1px solid $dark-primary-palette-border-color;
  }
}

.modalBody {
  display: flex;
  flex-direction: column;
  padding: 0;

  &:not(.modalBody--flush) {
    padding: 20px 36px 20px;

    @media (--viewport-xsmall-down) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}

/**
 * Use a content div so the flexbox on the modal
 * body doesn't interfere with the content.
 */
.modalBody__content {
  position: relative;
  flex: 1;
}

.modalBody--scrollable {
  @mixin addScrollbar var(--modal-scrollbar-thumb-color);

  flex: auto;
  overflow: auto;
  overflow: overlay;
}

.modalFooter {
  flex: none;
  padding: 20px 36px;

  @media (--viewport-xsmall-down) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.modalFooter--bordered {
  .modal--light & {
    border-top: 1px solid $light-primary-palette-border-color;
  }

  .modal--dark & {
    border-top: 1px solid $dark-primary-palette-border-color;
  }
}
