/**
 * 1. This may be overridden by the component if
 *    the portal should be fixed.
 */
.portal {
  display: none;
  position: absolute; /* [1] */
  z-index: $layout-z-index-popover;

  &.is-visible {
    display: block;
  }
}
