.tagGroup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: -4px;

  > .tag {
    margin: 4px;
  }
}

button.tag {
  @mixin unbutton minimal;
}

.tag {
  align-items: center;
  background: transparent;
  border: 1px solid var(--tag-primary-color);
  color: var(--tag-primary-color);
  display: inline-flex;
  flex-direction: row;
  flex: none;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;

  &:focus {
    outline: none;
  }
}

.tag--shaded {
  &:before {
    background-color: var(--tag-primary-color);
    border-radius: inherit;
    content: '';
    height: 100%;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 150ms ease;
  }
}

.tag--filled {
  background-color: var(--tag-primary-color);
  border: 1px solid var(--tag-primary-color);
  color: var(--tag-inverse-color);

  &.tag--actionable {
    &:hover,
    &.is-hovered {
      opacity: .8;
    }
  }
}

.tag--actionable {
  cursor: pointer;
  transition-duration: 150ms;
  transition-property: background-color, color;
  transition-timing-function: ease;

  &:after {
    border-radius: inherit;
    box-shadow: 0 0 0 0 transparent;
    content: '';
    height: 100%;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    transition: box-shadow 150ms ease;
    width: 100%;
  }

  &:focus,
  &.is-focused {
    &:after {
      box-shadow: 0 0 0 4px var(--tag-primary-color);
    }
  }

  &:hover,
  &.is-hovered {
    background-color: var(--tag-primary-color);
    color: var(--tag-inverse-color);
  }

  &:active,
  &.is-active {
    color: var(--tag-inverse-color);

    &:before {
      opacity: 0.9;
    }
  }
}

.tag--xxsmall {
  font-size: $font-size-xxs;
  height: $element-height-xxsmall;
  line-height: 1.3em;
  padding: 0.5em 1.2em;
}

.tag--xsmall {
  font-size: $font-size-xs;
  height: $element-height-xsmall;
  line-height: 1.3em;
  padding: 0.5em 1.4em;
}

.tag--small {
  font-size: $font-size-s;
  height: $element-height-small;
  line-height: 1.3em;
  padding: 0.5em 1.4em;
}

.tag--medium {
  font-size: $font-size-m;
  height: $element-height-medium;
  line-height: 1.3em;
  padding: 0.4em 2em;
}

.tag--large {
  font-size: $font-size-l;
  height: $element-height-large;
  line-height: 1.3em;
  padding: 0.4em 2.2em;
}

.tag--flush {
  &.tag--xxsmall,
  &.tag--xsmall,
  &.tag--small,
  &.tag--medium,
  &.tag--large {
    padding: 0;
  }
}

.tag--pill {
  border-radius: 20px;
}

.tag--brick {
  border-radius: $border-radius-m;

  &:before,
  &:after {
    border-radius: 1px;
  }
}

.tag--primary {
  @mixin themed .tag {
    --tag-primary-color: $theme-primary-palette-quiet-color;
    --tag-inverse-color: $theme-extreme-palette-background-color;
  }
}

.tag--contrast {
  @mixin themed .tag {
    --tag-primary-color: var(--contrast-color, $theme-contrast-palette-text-color);
    --tag-inverse-color: $theme-contrast-palette-background-color;
  }
}
