.timeline {
  display: flex;
  flex-direction: column;
  position: relative;

  @mixin themed {
    --timeline-item-connector-color: $theme-primary-palette-border-color;
    --timeline-item-background-color: $theme-primary-palette-background-color;
  }
}

.timeline--straddled {
  flex: none;
}

.timelineItem {
  flex: none;
  position: relative;

  & + .timelineItem {
    padding-top: 24px;
  }
}

.timelineItem--rightBottom,
.timelineItem--rightCenter,
.timelineItem--rightTop,
.timelineItem--leftBottom,
.timelineItem--leftCenter,
.timelineItem--leftTop {
  position: relative;

  &:before {
    content: '';
    top: 0;
    bottom: 0;
    width: 1px;
    background: var(--timeline-item-connector-color);
    position: absolute;
  }

  &.timelineItem--first {
    &:before {
      top: unset;
      height: 50%;
    }
  }

  &.timelineItem--last {
    &:before {
      bottom: unset;
      height: 50%;
    }
  }
}

.timelineItem--rightBottom,
.timelineItem--rightCenter,
.timelineItem--rightTop {
  &:before {
    left: 6px;
  }

  .timeline--straddled & {
    align-self: flex-end;
  }
}

.timelineItem--leftBottom,
.timelineItem--leftCenter,
.timelineItem--leftTop {
  &:before {
    right: 6px;
  }

  .timeline--straddled & {
    align-self: flex-start;
  }
}

.timelineItemMarker {
  box-shadow: 0 0 0 4px var(--timeline-item-background-color);
  z-index: 1;
}
