.position {
  display: flex;
  flex: none;
}

.position--raised {
  z-index: 1;
}

.position--center {
  align-items: center;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.position--bottomLeft {
  bottom: 0;
  left: 0;
  position: absolute;

  &.position--inside {
    align-items: center;
    justify-content: center;
  }

  &.position--outside {
    align-items: flex-start;
    justify-content: flex-end;
    transform: translate(-100%, 100%);
  }

  &.position--middle {
    align-items: center;
    justify-content: center;
    transform: translate(-50%, 50%);
  }
}

.position--bottomCenter {
  bottom: 0;
  left: 50%;
  position: absolute;

  &.position--inside {
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
  }

  &.position--outside {
    align-items: flex-start;
    justify-content: center;
    transform: translate(-50%, 100%);
  }

  &.position--middle {
    align-items: center;
    justify-content: center;
    transform: translate(-50%, 50%);
  }
}

.position--bottomRight {
  bottom: 0;
  position: absolute;
  right: 0;

  &.position--inside {
    align-items: center;
    justify-content: center;
  }

  &.position--outside {
    transform: translate(100%, 100%);
  }

  &.position--middle {
    align-items: center;
    justify-content: center;
    transform: translate(50%, 50%);
  }
}

.position--topLeft {
  left: 0;
  position: absolute;
  top: 0;

  &.position--inside {
    align-items: center;
    justify-content: center;
  }

  &.position--outside {
    align-items: flex-end;
    justify-content: flex-end;
    transform: translate(-100%, -100%);
  }

  &.position--middle {
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
  }
}

.position--topCenter {
  left: 50%;
  position: absolute;
  top: 0;

  &.position--inside {
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
  }

  &.position--outside {
    align-items: flex-end;
    justify-content: center;
    transform: translate(-50%, -100%);
  }

  &.position--middle {
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
  }
}

.position--topRight {
  position: absolute;
  right: 0;
  top: 0;

  &.position--inside {
    align-items: center;
    justify-content: center;
  }

  &.position--outside {
    align-items: flex-end;
    justify-content: flex-start;
    transform: translate(100%, -100%);
  }

  &.position--middle {
    align-items: center;
    justify-content: center;
    transform: translate(50%, -50%);
  }
}

.position--leftCenter {
  left: 0;
  position: absolute;
  top: 50%;

  &.position--inside {
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
  }

  &.position--outside {
    align-items: center;
    justify-content: flex-end;
    transform: translate(-100%, -50%);
  }

  &.position--middle {
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
  }
}

.position--rightCenter {
  position: absolute;
  right: 0;
  top: 50%;

  &.position--inside {
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
  }

  &.position--outside {
    align-items: center;
    justify-content: flex-start;
    transform: translate(100%, -50%);
  }

  &.position--middle {
    align-items: center;
    justify-content: center;
    transform: translate(50%, -50%);
  }
}

.position--fixed {
  position: fixed;
}
