/**
 * 1. The full unbuttoning includes background color which will
 *    break the avatar so this only does the minimal unbuttoning.
 */
button.avatar {
  @mixin unbutton minimal; /* [1] */

  border: none;
}

.avatar {
  align-items: center;
  background-color: var(--avatar-background-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
  color: var(--avatar-text-color);
  display: flex;
  flex: none;
  font-size: 16px;
  justify-content: center;
  line-height: 0;
  margin: 0;
  position: relative;
  user-select: none;
}

.avatar--actionable {
  border: none;

  &:before {
    border-radius: inherit;
    bottom: 0;
    box-shadow: 0 0 0 var(--avatar-actionable-border-width, 4px)
      var(--avatar-actionable-background-color, var(--avatar-background-color));
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 100ms ease;
  }

  &:focus:before {
    opacity: 0.2;
  }

  &:hover:before {
    opacity: 0.2;
  }

  &:active:before {
    opacity: 0.3;
  }
}

.avatar--xxxlarge {
  font-size: 18px;
  height: $element-height-xxxlarge;
  width: $element-height-xxxlarge;
}

.avatar--xxlarge {
  font-size: 16px;
  height: $element-height-xxlarge;
  width: $element-height-xxlarge;
}

.avatar--xlarge {
  font-size: 14px;
  height: $element-height-xlarge;
  width: $element-height-xlarge;
}

.avatar--large {
  font-size: 13px;
  height: $element-height-large;
  width: $element-height-large;
}

.avatar--medium {
  font-size: 12px;
  height: $element-height-medium;
  width: $element-height-medium;
}

.avatar--small {
  font-size: 11px;
  height: $element-height-small;
  width: $element-height-small;
}

.avatar--xsmall {
  --avatar-actionable-border-width: 3px;

  font-size: 9px;
  height: $element-height-xsmall;
  width: $element-height-xsmall;
}

.avatar--custom {
  font-size: var(--avatar-font-size);
  height: var(--avatar-size);
  width: var(--avatar-size);
}

.avatar--image {
  @mixin themed .avatar {
    --avatar-actionable-background-color: $theme-primary-palette-text-color;
  }
}

.avatar--primary {
  @mixin themed .avatar {
    --avatar-background-color: $theme-color-accent-primary;
    --avatar-text-color: $theme-color-accent-primary-contrast;
  }
}

.avatar--neutral {
  @mixin themed .avatar {
    --avatar-actionable-background-color: $theme-color-neutral-D10;
    --avatar-background-color: $theme-color-neutral;
    --avatar-text-color: $theme-color-neutral-contrast;
  }
}

.avatar--contrast {
  @mixin themed .avatar {
    --avatar-background-color: $theme-contrast-palette-text-color;
    --avatar-text-color: var(--contrast-color, $theme-contrast-palette-background-color);
  }
}

/* stylelint-disable-next-line no-duplicate-selectors */
.avatar--image {
  .avatar__content {
    display: none;
  }
}
