html,
body {
  box-sizing: border-box;
  font-family: Roboto, Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  cursor: pointer;
  text-decoration: none;
}
