@import '../../../../styles/common/mixins/addScrollbar.css';

.selectInput {
  @mixin addSmallScrollbar var(--select-scrollbar-thumb-color);

  & option {
    padding: 4px 8px;
  }

  &:not([multiple]) option {
    color: initial;
  }

  @mixin themed {
    --select-scrollbar-thumb-color: $theme-primary-scrollbar-thumb-color;
  }
}
