.h1 {
  display: block;
  font-size: $font-size-5xlarge;
  line-height: 1.5;
  font-weight: 200;
}

.h2 {
  display: block;
  font-size: $font-size-4xlarge;
  line-height: 1.5;
  font-weight: 300;
}

.h3 {
  display: block;
  font-size: $font-size-3xlarge;
  line-height: 1.5;
}

.h4 {
  display: block;
  font-size: $font-size-2xlarge;
  line-height: 1.5;
}

.h5 {
  display: block;
  font-size: $font-size-xlarge;
  line-height: 1.5;
  font-weight: 600;
}

.h6 {
  display: block;
  font-size: $font-size-large;
  line-height: 1.5;
  font-weight: 600;
}

.p {
  display: block;
  font-size: $font-size-medium;
  line-height: 1.5;
}
