@import "./mixins/addScrollbar.css";

.scrollbar {
  @mixin addScrollbar var(--scrollbar-thumb-color), var(--scrollbar-track-color, transparent);
}

.scrollbar--small {
  @mixin addScrollbar var(--scrollbar-thumb-color), var(--scrollbar-track-color, transparent), $scrollbar-small-width, $scrollbar-small-border-radius, $scrollbar-small-min-height, $scrollbar-small-offset;
}

.scrollbar--xsmall {
  @mixin addScrollbar var(--scrollbar-thumb-color), var(--scrollbar-track-color, transparent), $scrollbar-xsmall-width, $scrollbar-xsmall-border-radius, $scrollbar-xsmall-min-height, $scrollbar-xsmall-offset;
}

.scrollbar--primary {
  &.scrollbar--light {
    --scrollbar-thumb-color: $light-primary-scrollbar-thumb-color;
  }

  &.scrollbar--dark {
    --scrollbar-thumb-color: $dark-primary-scrollbar-thumb-color;
  }
}

.scrollbar--contrast {
  &.scrollbar--light {
    --scrollbar-thumb-color: $light-contrast-scrollbar-thumb-color;
  }

  &.scrollbar--dark {
    --scrollbar-thumb-color: $dark-contrast-scrollbar-thumb-color;
  }
}