@import "./mixins/addScrollbar.css";

.scrollbar {
  @mixin addScrollbar var(--scrollbar-thumb-color), var(--scrollbar-track-color, transparent);
}

.scrollbar--small {
  @mixin addSmallScrollbar var(--scrollbar-thumb-color), var(--scrollbar-track-color, transparent);
}

.scrollbar--xsmall {
  @mixin addXSmallScrollbar var(--scrollbar-thumb-color), var(--scrollbar-track-color, transparent);
}

.scrollbar--hidden {
  @mixin addHiddenScrollbar;
}

.scrollbar--primary {
  &.scrollbar--light {
    --scrollbar-thumb-color: $light-primary-scrollbar-thumb-color;
  }

  &.scrollbar--dark {
    --scrollbar-thumb-color: $dark-primary-scrollbar-thumb-color;
  }
}

.scrollbar--contrast {
  &.scrollbar--light {
    --scrollbar-thumb-color: $light-contrast-scrollbar-thumb-color;
  }

  &.scrollbar--dark {
    --scrollbar-thumb-color: $dark-contrast-scrollbar-thumb-color;
  }
}
