.tabPanelGroup {
  background-color: var(--tab-panel-group-background-color);
  color: var(--tab-panel-group-text-color);
  position: relative;
  width: 100%;
}

.tabPanelGroup--horizontal {
  border-bottom-left-radius: $border-radius-s;
  border-bottom-right-radius: $border-radius-s;
}

.tabPanelGroup--vertical {
  border-bottom-right-radius: $border-radius-s;
  border-top-right-radius: $border-radius-s;
}

.tabPanelGroup--primary {
  @mixin themed .tabPanelGroup {
    background-color: $theme-secondary-background-color;
    color: $theme-secondary-text-color;
  }
}

.tabPanelGroup--transparent {
  @mixin themed .tabPanelGroup {
    background-color: transparent;
    color: $theme-secondary-text-color;
  }
}

.tabPanelGroup--contrast {
  @mixin themed .tabPanelGroup {
    background-color: var(--contrast-color, $theme-contrast-background-color);
    color: var(--contrast-color, $theme-contrast-text-color);
  }
}
