.tabs {
  border-radius: $border-radius-small;
  border: 1px solid var(--tabs-border-color);
  display: flex;
  font-size: $font-size-medium;
  position: relative;

  &.is-focused.is-accessible {
    border-color: var(--tabs-focused-border-color);
  }
}

.tabs--horizontal {
  flex-direction: column;
}

.tabs--vertical {
  flex-direction: row;
}

.tabs--colored {
  border: none;

  &:after {
    border-radius: $border-radius-small;
    border: 1px solid var(--tabs-border-color);
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  &.is-focused.is-accessible {
    &:after {
      border-color: var(--tabs-focused-border-color);
    }
  }
}

.tabs--primary,
.tabs--transparent {
  @mixin themed .tabs {
    --tabs-border-color: $theme-color-FG0-O5;
    --tabs-focused-border-color: var(--phork-accent-color, $theme-color-accent);
  }
}

.tabs--contrast {
  @mixin themed .tabs {
    --tabs-border-color: $theme-contrast-palette-quietest-color;
    --tabs-focused-border-color: $theme-contrast-palette-text-color;
  }
}
