.paginationButton {
  min-width: 32px;
}

.paginationButton--ellipsis,
.paginationButton--page {
  padding-left: 8px;
  padding-right: 8px;
}

.paginationButton--jumpIcon {
  padding-left: 0;
  padding-right: 0;
}

/* .paginationButton--jump {} */