.dropdown--medium {
  --dropdown-options-container-top-height: 51px;
}

.dropdown,
.dropdown--large {
  --dropdown-options-container-top-height: 52px;
}

.dropdown--xlarge {
  --dropdown-options-container-top-height: 53px;
}

.dropdown--2xlarge {
  --dropdown-options-container-top-height: 55px;
}

.dropdown--3xlarge {
  --dropdown-options-container-top-height: 57px;
}

.dropdown--4xlarge {
  --dropdown-options-container-top-height: 59px;
}

.dropdown--5xlarge {
  --dropdown-options-container-top-height: 63px;
}

.dropdown--6xlarge {
  --dropdown-options-container-top-height: 67px;
}

.dropdown--7xlarge {
  --dropdown-options-container-top-height: 71px;
}

.dropdown--8xlarge {
  --dropdown-options-container-top-height: 73px;
}
