.dropdownEmpty {
  color: var(--dropdown-empty-text-color);
  font-size: $font-size-small;
  padding: 8px 0;
}

.dropdownEmpty--contained {
  padding: 12px;
}

.dropdownEmpty--primary {
  @mixin themed .dropdownEmpty {
    --dropdown-empty-text-color: $theme-primary-palette-quiet-color;
  }
}

.dropdownEmpty--contrast {
  @mixin themed .dropdownEmpty {
    --dropdown-empty-text-color: $theme-contrast-palette-quiet-color;
  }
}
