.toggle {
  $default-toggle-width: 40px;
  $default-toggle-height: 24px;
  $default-toggle-border-width: 3px;
  $button-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

  align-items: flex-start;
  display: inline-flex;
  flex-direction: row;
  position: relative;

  &:focus {
    outline: none;
  }

  &.is-disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

.toggle--full {
  justify-content: space-between;
  width: 100%;
}

.toggle--reverse {
  flex-direction: row-reverse;
}

input.toggleInput {
  @mixin visuallyHidden;
}

.toggleLabel {
  margin-left: calc(0.35 * var(--toggle-width, $default-toggle-width));
  margin-top: 5px;

  .toggle--reverse & {
    margin-left: 0;
    margin-right: calc(0.35 * var(--toggle-width, $default-toggle-width));
  }
}

.toggleInputContainer {
  flex: none;
  height: var(--toggle-height, $default-toggle-height);
  position: relative;
  width: var(--toggle-width, $default-toggle-width);

  &:before {
    background-color: var(--toggle-background-color);
    border-radius: var(--toggle-height, $default-toggle-height);
    content: '';
    height: var(--toggle-height, $default-toggle-height);
    left: 0;
    min-width: var(--toggle-width, $default-toggle-width);
    position: absolute;
    top: 0;
    transition: 300ms;
    width: var(--toggle-width, $default-toggle-width);
  }

  &:after {
    background-color: var(--toggle-button-background-color);
    border-radius: 50%;
    bottom: var(--toggle-border-width, $default-toggle-border-width);
    box-shadow: $button-box-shadow;
    content: '';
    height: calc(
      var(--toggle-height, $default-toggle-height) - calc(var(--toggle-border-width, $default-toggle-border-width) * 2)
    );
    left: var(--toggle-border-width, $default-toggle-border-width);
    position: absolute;
    top: var(--toggle-border-width, $default-toggle-border-width);
    transition: all 300ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    width: calc(
      var(--toggle-height, $default-toggle-height) - calc(var(--toggle-border-width, $default-toggle-border-width) * 2)
    );
  }

  .toggle.is-checked & {
    &:before {
      background-color: var(--toggle-checked-background-color);
    }

    &:after {
      background-color: var(--toggle-checked-button-background-color);
      left: calc(
        var(--toggle-width, $default-toggle-width) - var(--toggle-height, $default-toggle-height) +
          var(--toggle-border-width, $default-toggle-border-width)
      );
    }
  }

  /**
   * Remove the bounce and speed up the off transition.
   */
  .toggle:not(.is-checked) & {
    &:after {
      transition-timing-function: linear;
      transition-duration: 200ms;
    }
  }
}

.toggleInputContainerFocusRing {
  border-radius: var(--toggle-height, $default-toggle-height);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  @mixin prepareFocusRing -1px;
}

.toggle:hover,
.toggle.is-focused {
  .toggleInputContainerFocusRing {
    @mixin makeFocusRing var(--toggle-unchecked-hovered-focus-ring-color);
  }

  &.is-checked {
    .toggleInputContainerFocusRing {
      @mixin makeFocusRing var(--toggle-checked-hovered-focus-ring-color);
      @mixin setFocusRingOpacity var(--toggle-checked-hovered-focus-ring-opacity, 0.2);
    }
  }
}

.toggle--small {
  --toggle-width: 32px;
  --toggle-height: 20px;
  --toggle-border-width: 2px;

  .toggleLabel {
    margin-top: 3px;
  }
}

.toggle--primary {
  &.toggle--light {
    --toggle-background-color: $light-color-FG0-O20;
    --toggle-button-background-color: $light-color-BG05;
    --toggle-checked-background-color: var(--phork-accent-color, $light-color-accent);
    --toggle-checked-button-background-color: $light-color-BG05;
    --toggle-checked-hovered-focus-ring-color: var(--phork-accent-color, $light-color-accent);
    --toggle-unchecked-hovered-focus-ring-color: $light-color-FG0-O40;
  }

  &.toggle--dark {
    --toggle-background-color: $dark-color-FG50;
    --toggle-button-background-color: $dark-color-FG30;
    --toggle-checked-background-color: var(--phork-accent-color, $dark-color-accent);
    --toggle-checked-button-background-color: $dark-color-BG05;
    --toggle-checked-hovered-focus-ring-color: var(--phork-accent-color, $dark-color-accent);
    --toggle-unchecked-hovered-focus-ring-color: $dark-color-FG0-O40;

    --toggle-checked-hovered-focus-ring-opacity: 0.3;
  }
}

.toggle--contrast {
  @mixin themed .toggle {
    --toggle-background-color: $theme-contrast-palette-quietest-color;
    --toggle-button-background-color: $theme-contrast-palette-quieter-color;
    --toggle-checked-background-color: $theme-contrast-palette-quietest-color;
    --toggle-checked-button-background-color: $theme-contrast-palette-text-color;
    --toggle-checked-hovered-focus-ring-color: $theme-contrast-palette-text-color;
    --toggle-unchecked-hovered-focus-ring-color: $theme-contrast-palette-quietest-color;
  }
}
