.label {
  color: var(--label-text-color);
  font-size: var(--label-font-size, inherit);
  line-height: var(--label-line-height, inherit);
  transition: color 200ms ease;

  &.is-disabled {
    pointer-events: none;
  }

  &.is-muted:not(:hover):not(.is-focused),
  &.is-disabled {
    color: var(--label-muted-text-color);
  }

  &.is-muted:hover {
    color: var(--label-text-color);
  }

  &.is-danger,
  &.is-warning,
  &.is-success {
    &.is-muted:not(:hover):not(.is-focused),
    &.is-disabled {
      opacity: 0.6;
    }
  }
}

.label--transitioned {
  font-size: $font-size-xsmall;
  line-height: 16px;
}

.label--standard {
  font-size: $font-size-medium;
  line-height: 16px;
}

.label--legend {
  font-size: $font-size-large;
  line-height: 20px;
}

.label--noWrap {
  white-space: nowrap;
}

.label--primary {
  @mixin themed .label {
    --label-text-color: $theme-primary-palette-text-color;
    --label-muted-text-color: $theme-primary-palette-quieter-color;
  }
}

.label--contrast {
  @mixin themed .label {
    --label-text-color: $theme-contrast-palette-text-color;
    --label-muted-text-color: $theme-contrast-palette-quieter-color;
  }
}

.label.is-danger {
  @mixin themed .label {
    --label-text-color: $theme-color-danger;
    --label-muted-text-color: $theme-color-danger;
  }
}

.label.is-warning {
  @mixin themed .label {
    --label-text-color: $theme-color-warning;
    --label-muted-text-color: $theme-color-warning;
  }
}

.label.is-success {
  @mixin themed .label {
    --label-text-color: $theme-color-success;
    --label-muted-text-color: $theme-color-success;
  }
}
