.multiColorSliderTick {
  &.is-inactive {
    opacity: 0.3;
  }

  &.multiColorSliderTick--divider {
    border-radius: 0;
    width: 2px;
    height: 8px;
  }

  @mixin themed .multiColorSliderTick {
    background-color: $theme-primary-palette-background-color;
  }
}
