.buttonGroup {
  display: flex;
  flex: none;

  &.buttonGroup--horizontal {
    align-items: center;
    flex-direction: row;
  }

  &.buttonGroup--vertical {
    flex-direction: column;
  }
}

.buttonGroup--left {
  &.buttonGroup--horizontal {
    justify-content: flex-start;
  }

  &.buttonGroup--vertical {
    align-items: flex-start;
  }
}

.buttonGroup--right {
  &.buttonGroup--horizontal {
    justify-content: flex-end;
  }

  &.buttonGroup--vertical {
    align-items: flex-end;
  }
}

/**
 * 1. Using width: 100% can cause problems with the
 *    negative margins, so flex is a better choice.
 */
.buttonGroup--fullWidth {
  flex: 1;
}

.buttonGroup--cozy {
  &.buttonGroup--horizontal {
    margin-left: -6px;
    margin-right: -6px;

    .buttonGroup__button {
      margin-left: 6px;
      margin-right: 6px;
    }
  }

  &.buttonGroup--vertical {
    margin-bottom: -6px;
    margin-top: -6px;

    .buttonGroup__button {
      margin-bottom: 6px;
      margin-top: 6px;
    }
  }
}

.buttonGroup--comfy {
  &.buttonGroup--horizontal {
    margin-left: -12px;
    margin-right: -12px;

    .buttonGroup__button {
      margin-left: 12px;
      margin-right: 12px;
    }
  }

  &.buttonGroup--vertical {
    margin-bottom: -12px;
    margin-top: -12px;

    .buttonGroup__button {
      margin-bottom: 12px;
      margin-top: 12px;
    }
  }
}

/**
 * 1. Remove the double border on outline buttons.
 */
.buttonGroup--divided,
.buttonGroup--joined {
  &.buttonGroup--horizontal {
    .buttonGroup__button:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -1px; /* [1] */
    }

    .buttonGroup__button:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &.buttonGroup--vertical {
    .buttonGroup__button:not(:first-child) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-top: -1px; /* [1] */
    }

    .buttonGroup__button:not(:last-child) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.buttonGroup--divided {
  &.buttonGroup--horizontal {
    .buttonGroup__button:not(:first-child) {
      &:before {
        background-color: var(--button-group-divider-background-color, #fff);
        bottom: -1px;
        content: '';
        left: -1px;
        position: absolute;
        top: -1px;
        width: 1px;
        z-index: 1;
      }
    }
  }

  &.buttonGroup--vertical {
    .buttonGroup__button:not(:first-child) {
      &:before {
        background-color: var(--button-group-divider-background-color, #fff);
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        top: -1px;
      }
    }
  }

  @mixin themed .buttonGroup {
    --button-group-divider-background-color: $theme-contrast-palette-quietest-color;
  }
}

/**
 * 1. Raise buttons so their border is highlighted.
 */
.buttonGroup .buttonGroup__button {
  &:hover,
  &.is-hovered,
  &:focus,
  &.is-focused,
  &:active,
  &.is-active {
    z-index: 1; /* [1] */
  }
}
