@import './mixins.css';

button.unbutton {
  @mixin unbutton;
  padding: 0;
}

.unbutton {
  color: currentColor;

  &:disabled,
  &.is-disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }
}

/**
 * 1. The full unbuttoning includes background, border and
 *    text align which need to be overridden by certain classes
 *    below. However due to the specificity here if they were
 *    set in the unbuttoning here they wouldn't be overridable,
 *    so this only does the minimum unbuttoning.
 */
button.button {
  @mixin unbutton minimal; /* [1] */
}

/**
 * The shared button styles - this should not include
 * colors or sizes.
 *
 * 1. Put all button transitions here so shared classes
 *    don't overwrite transitions.
 * 2. Don't steal the event target away from the button.
 */
.button {
  @mixin button;

  align-items: center;
  background: transparent;
  border: none;
  display: inline-flex;
  flex: none;
  flex-direction: row;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition-property: background-color, border-color, color; /* [1] */
  transition-timing-function: ease;
  transition-duration: 200ms;

  &:focus {
    outline: none;
  }

  &:disabled,
  &.is-disabled,
  &.is-loading {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  > * {
    pointer-events: none; /* [2] */
  }
}

/* Button shapes */

.button--pill {
  border-radius: 20px;
}

.button--brick {
  border-radius: $border-radius-m;
}

/* Button sizes */

.button--small {
  font-size: $font-size-s;

  &:not(.button--noHeight) {
    min-height: $element-height-small;

    &.button--icon {
      width: $element-height-small;
    }
  }

  &:not(.button--noPadding) {
    padding: 0.5em 1.6em;

    &.button--iconText {
      padding-left: 1.2em;
    }

    &.button--iconTextReverse {
      padding-right: 1.2em;
    }
  }
}

.button--medium {
  font-size: $font-size-m;

  &:not(.button--noHeight) {
    min-height: $element-height-medium;

    &.button--icon {
      width: $element-height-medium;
    }
  }

  &:not(.button--noPadding) {
    padding: 0.4em 1.8em;

    &.button--iconText {
      padding-left: 1.4em;
    }

    &.button--iconTextReverse {
      padding-right: 1.4em;
    }
  }
}

.button--large {
  font-size: $font-size-l;

  &:not(.button--noHeight) {
    min-height: $element-height-large;

    &.button--icon {
      width: $element-height-large;
    }
  }

  &:not(.button--noPadding) {
    padding: 0.4em 2.2em;

    &.button--iconText {
      padding-left: 1.6em;
    }

    &.button--iconTextReverse {
      padding-right: 1.6em;
    }
  }
}

/* A general catch-all button size */

.button--relative {
  font-size: 1em;

  &:not(.button--noHeight) {
    min-height: 2em;
  }

  &:not(.button--noPadding) {
    padding: 0.4em 1.6em;
  }
}

/* Button weights */

.button--filled {
  @mixin createFilledButton;
}

.button--outline {
  @mixin createOutlineButton;
}

.button--text {
  @mixin createTextButton;
}

/* Icon buttons */

.button--icon {
  &.button--pill {
    border-radius: 100%;
  }

  &.button--pill,
  &.button--brick {
    padding: 0;
  }
}

.button--iconText,
.button--iconTextReverse {
  &.button--text {
    padding-bottom: 0.2em;
  }

  .button__icon {
    line-height: 1;
  }

  .button__text {
    white-space: nowrap;
  }
}

.button--iconText {
  .button__icon {
    margin-right: 8px;
  }
}

.button--iconTextReverse {
  .button__content {
    flex-direction: row-reverse;
  }

  .button__icon {
    margin-left: 12px;
  }
}

/**
 * 1. Remove extra space added to the bottom.
 */
.button--icon svg,
.button--iconText .button__icon svg,
.button--iconTextReverse .button__icon svg  {
  float: left; /* [1] */
}

/* Button extras */

.button--noPadding {
  padding: 0;
}

.button--fullWidth {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.button.is-loading {
  .button__content {
    visibility: hidden;
  }
}

.button--success {
  @mixin themed .button {
    --button-primary-color: $theme-color-success;
    --button-inverse-color: $theme-color-success-contrast;
    --button-hover-primary-color: $theme-color-success-D10;
    --button-active-primary-color: $theme-color-success-L10;
  }
}

.button--warning {
  @mixin themed .button {
    --button-primary-color: $theme-color-warning;
    --button-inverse-color: $theme-color-warning-contrast;
    --button-hover-primary-color: $theme-color-warning-D10;
    --button-active-primary-color: $theme-color-warning-L10;
  }
}

.button--danger {
  @mixin themed .button {
    --button-primary-color: $theme-color-danger;
    --button-inverse-color: $theme-color-danger-contrast;
    --button-hover-primary-color: $theme-color-danger-D10;
    --button-active-primary-color: $theme-color-danger-L10;
  }
}

.button--primary {
  @mixin themed .button {
    --button-primary-color: $theme-color-accent-primary;
    --button-inverse-color: $theme-color-accent-primary-contrast;
    --button-hover-primary-color: $theme-color-accent-primary-D10;
    --button-active-primary-color: $theme-color-accent-primary-L10;
  }
}

.button--contrast {
  @mixin themed .button {
    --button-primary-color: $theme-contrast-text-color;
    --button-inverse-color: var(--contrast-color, $theme-contrast-background-color);
    --button-hover-primary-color: $theme-contrast-quiet-color;
    --button-active-primary-color: $theme-contrast-text-color;
  }
}

.button--neutral,
.button--neutralAndPrimary {
  @mixin themed .button {
    --button-primary-color: $theme-color-neutral;
    --button-inverse-color: $theme-color-neutral-contrast;
    --button-hover-primary-color: $theme-color-neutral-D10;
    --button-active-primary-color: $theme-color-neutral-L10;
  }
}

.button--neutralAndPrimary {
  @mixin themed .button {
    &:not(:disabled):not(.is-disabled) {
      &:focus,
      &.is-focused {
        --button-primary-color: $theme-color-accent-primary;
        --button-inverse-color: $theme-color-accent-primary-contrast;
      }
    }
  }
}

.button--white {
  --button-primary-color: #fff;
  --button-inverse-color: #000;
  --button-hover-primary-color: rgba(255, 255, 255, 0.8);
  --button-active-primary-color: rgba(255, 255, 255, 0.6);
}

.button--black {
  --button-primary-color: #000;
  --button-inverse-color: #fff;
  --button-hover-primary-color: rgba(0, 0, 0, 0.8);
  --button-active-primary-color: rgba(0, 0, 0, 0.6);
}

/* Button children */

.button__content {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
  width: 100%;

  .button--left & {
    justify-content: flex-start;
  }

  .button--right & {
    justify-content: flex-end;
  }
}

.button__loader {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
